<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Vuln App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="challenge-menu" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Challenges</a>
        <div class="dropdown-menu" aria-labelledby="challenge-menu">
          <a class="dropdown-item" href="/command-injection">Command Injection</a>
          <a class="dropdown-item" href="/types-mismatch">Types Mismatch</a>
          <a class="dropdown-item" href="/deserialization">Deserialization</a>
        </div>
      <li class="nav-item active">
        <a class="nav-link" href="/repl">Python Interpreter</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About</a>
      </li>
      </li>
    </ul>
  </div>
</nav>